<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body>
<h1>Hello {{ name }}</h1>

<p>Here is some data:</p>
<ul>
    {% for key, value in data %}
        <li>{{ key }}: {{ value }}</li>
    {% endfor %}
</ul>
</body>
</html>