<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ihr Handeln ist gefragt!</title>
</head>
<body>
<h1>Neues Feedback erhalten!</h1>
<p>Sehr geehrte/r {{ name }},</p>
<p>Die Freigabe Ihres Rezepts "{{ recipe_name }}" ist ohne Ihre Überarbeitung leider nicht möglich.</p>
<p>Unsere Hinweise finden Sie in der Bearbeitungsansicht Ihres Rezepts unter</p>
<p><a href="{{ recipe_url }}"> {{ recipe_url }} </a></p>
<p>Vielen Dank, dass Sie Ihr köstliches Grillgericht mit der Community teilen möchten!</p>
<p>Ihr Grillfürst Team</p>
</body>
</html>