<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ihr Handeln ist gefragt!</title>
</head>
<body>
<h1>Neues Feedback erhalten!</h1>
<p>Sehr geehrte/r {{ name }},</p>
<p>Die Freigabe Ihres Rezepts "{{ recipe_name }}" ist ohne Ihre Überarbeitung leider nicht möglich.</p>
<p>Unsere Hinweise finden Sie in der Bearbeitungsansicht Ihres Rezepts unter</p>
<p><a href="{{ recipe_url }}"> {{ recipe_url }} </a></p>
<p>Vielen Dank, dass Sie Ihr köstliches Grillgericht mit der Community teilen möchten!</p>
<p>Ihr Grillfürst Team</p>
<p>
    Tel: 06621 / 4320900<br>
    Web: <a href="https://www.grillfuerst.de">www.grillfuerst.de</a><br>
    <br>
    Grillfürst GmbH<br>
    Friedewalder Str. 24, 36251 Bad Hersfeld<br>
    Geschäftsführer: Joachim Weber, Ralf Geishauser<br>
    <br>
    Sitz und Registergericht Fulda<br>
    Amtsgericht Fulda HRB 5901, USt.-Ident.Nr.: DE 815245245<br>
    <br>
    Impressum: <a href="https://www.grillfuerst.de/Impressum.php">https://www.grillfuerst.de/Impressum.php</a><br>
    Für alle Angebote und Verträge die per Mail oder Telefon vereinbart werden gelten unsere AGB (<a href="http://www.grillfuerst.de/agb.php">http://www.grillfuerst.de/agb.php</a>).
</p>
</body>
</html>